/* Global styles */
:root {
    --main-background-color: #292F36;
    --second-background-color: #16C172;
    --main-text-color: #292F36;
    --second-text-color: #F7FFF7;
    --third-text-color: #00A6FB;
}

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.container {
    padding: 0 8px;
}

img {
    width: 100px;
}

/* Header */
header {
    background-color: var(--main-background-color);
    color: var(--second-text-color);
    width: 100%;
    height: 50px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
}

.header-navbar {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    display: none;
    z-index: 2;
}

.header-navbar-appear {
    display: block;
    background-color: #fff;
    box-shadow: 0px 1px 10px #bdbdbd;
}

header .container h1 {
    font-size: 1.2rem;
}

.header-social-icons i {
    font-size: 22px;
}

.header-social-icons i:first-child {
    margin-right: 16px;
}

nav ul li {
    padding: 16px 0;
}

ul li a {
    color: var(--main-text-color);
}

/* Hero section */
.hero-section {
    background-image: url("./images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--second-text-color);
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(74, 74, 74, 78%);
}

.detailed-hero-section::before {
    content: none;
}

.detailed-hero-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detailed-main-content {
    margin-top: 34px;
}

.detailed-game-brief-info h2 {
    font-size: 1.4rem;
}

.detailed-game-brief-info p {
    margin-top: 4px;
}

.detailed-game-price {
    margin: 10px 0 20px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 16px;
}

.detailed-game-price div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 14px;
    font-size: 1.1rem;
    margin-top: 16px;
}

.detailed-game-price div button {
    border: none;
    background-color: var(--second-background-color);
    padding: 8px 12px;
    color: var(--second-text-color);
    font-size: 1rem;
}

.detailed-game-tags {
    margin-bottom: 34px;
}

.detailed-game-tags p {
    margin-bottom: 6px;
}

.detailed-game-tags button {
    border: none;
    background-color: var(--second-background-color);
    padding: 4px 10px;
    color: var(--second-text-color);
}

.hero-section h2, .hero-section p {
    z-index: 1;
}

.hero-section h2 {
    margin-bottom: 6px;
}

.search-bar {
    border-radius: 20px;
    border: 1px solid black;
    width: 100%;
    padding: 8px 14px;
    margin-top: 28px;
    margin-bottom: 34px;
    outline: none;
}

/* Featured deals */
#featured-deals h2 {
    color: var(--main-text-color);
    margin-bottom: 3px;
}

#featured-deals h2, #game-categories h2 {
    font-size: 14px;
}

.bottom-underline {
    height: 2px;
    background-color: var(--third-text-color);
    margin-bottom: 12px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.card {
    width: 50%;
    padding: 4px;
    color: var(--main-text-color);
    cursor: pointer;
}

.card-content {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
    height: 100%;
}

.card-header img {
    width: 100%;
    height: auto;
    display: block;
}

.card-body {
    margin: 8px;
    word-wrap: break-word;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body h3 {
    font-size: 12px;
    height: max-content;
}

.price-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.price-and-button p {
    font-size: 10px;
}

.add-to-cart-btn {
    border: none;
    background-color: var(--second-background-color);
    color: #fff;
    font-size: 8px;
    padding: 4px 8px;
}

.button-group {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.button-group button {
    width: 76px;
    height: 24px;
    border: none;
    background-color: var(--second-background-color);
    color: #fff;
    padding: 4px 8px;
    cursor: pointer;
}

/* Game categories */
#game-categories {
    margin-top: 34px;
}

.game-categories-cards {
    height: 360px;
}

.category-card {
    width: 33.33%;
    height: 33.33%;
}

.category-card .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    text-align: center;
}

.category-card h3 {
    font-size: 0.9rem;
}

/* Games Page */
#filter-categories {
    margin-bottom: 36px;
}

#filter-categories h2 {
    font-size: 14px;
    margin-bottom: 12px;
}

#filter-categories .catogories-group {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 14px;
}

.catogories-group .category {
    display: flex;
    align-items: center;
    gap: 4px;
}

#filter-categories button {
    border: none;
    width: 100%;
    border-radius: 20px;
    padding: 6px 10px;
    color: var(--second-text-color);
    background-color: var(--second-background-color);
    font-size: 1.1rem;
}

/* Search Results */
#categories-selection h2, #search-results h2 {
    font-size: 14px;
}

#categories-selection h2 {
    margin-bottom: 8px;
}

#categories-selection {
    margin-bottom: 36px;
    text-transform: capitalize;
}

#categories-selection {
    margin-bottom: 36px;
}

.select-and-search {
    display: flex;
    gap: 6px;
}

.select-and-search select {
    padding: 4px 8px;
    font-size: 1.1rem;
}

.select-and-search select, .select-and-search option {
    padding: 4px 8px;
    text-transform: capitalize;
}

/* Footer */
footer {
    margin-top: 34px;
    text-align: center;
    background-color: var(--main-background-color);
    color: var(--second-text-color);
    padding: 24px 0;
}

footer h2 {
    font-size: 14px;
    margin-bottom: 3px;
}

footer .footer-email {
    font-size: 12px;
}

.footer-social-icons {
    margin: 16px 0;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.footer-social-icons i {
    font-size: 1.4rem;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 16px;
}

footer ul a {
    color: var(--second-text-color);
}

/* Media queries */
@media only screen and (min-width: 768px) {
    .container {
        padding: 0 22px;
    }

    header {
        height: 70px;
    }

    header .container h1 {
        font-size: 1.5rem;
    }

    header .header-navbar {
        display: block;
        position: static;
        background-color: var(--main-background-color);
        box-shadow: none;
        width: 50%;
    }
    
    ul li a {
        color: var(--second-text-color);
    }

    header nav ul {
        display: flex;
        gap: 32px;
    }

    header li a {
        font-size: 1.3rem;
    }

    .header-social-icons i:first-child {
        margin-right: 0;
        font-size: 1.7rem;
    }

    .header-social-icons i.fa-bars {
        display: none;
    }

    .hero-section {
        height: 180px;
    }

    .hero-section h2 {
        font-size: 1.8rem;
    }

    .hero-section p {
        font-size: 1.3rem;
    }

    .search-bar {
        margin-top: 34px;
        margin-bottom: 45px;
        padding: 8px 28px;
        font-size: 1.1rem;
    }

    #categories-selection {
        margin-bottom: 45px;
    }

    #featured-deals h2, 
    #game-categories h2,
    #categories-selection h2, 
    #search-results h2 {
        font-size: 1.1rem;
    }

    .select-and-search select {
        padding: 6px 10px;
        font-size: 1.2rem;
    }

    .bottom-underline {
        margin-bottom: 18px;
    }

    .card {
        width: 25%;
    }
    
    .card-body {
        margin: 12px;
        height: 80px;
    }
    
    .card-body h3 {
        font-size: 14px;
    }
    
    .price-and-button {
        margin-top: 22px;
    }

    .price-and-button p {
        font-size: 12px;
    }
    
    .add-to-cart-btn {
        font-size: 10px;
        padding: 6px 10px;
    }
    
    .game-categories-cards {
        height: 288px;
    }
    
    .category-card {
        width: 20%;
        height: 50%;
    }

    .button-group {
        margin-top: 22px;
    }
    
    .button-group button {
        width: 80px;
        height: 30px;
    }

    #game-categories {
        margin-top: 45px;
    }

    .detailed-main-content {
        position: relative;
        margin: 60px 0 15px 0;
    }

    .detailed-game-price {
        position: absolute;
        top: 0;
        right: 22px;
        margin: 0;
        width: 360px;
    }

    .detailed-game-tags {
        margin-top: 28px;
        margin-bottom: 60px;
    }

    .detailed-game-tags button {
        font-size: 1rem;
        padding: 4px 12px;
    }

    /* Footer */
    footer {
        padding: 32px 0;
        margin-top: 45px;
    }
    
    footer h2 {
        font-size: 20px;
        margin-bottom: 6px;
    }
    
    footer .footer-email {
        font-size: 14px;
    }
    
    .footer-social-icons {
        margin: 30px;
        gap: 20px;
    }

    .footer-social-icons i {
        font-size: 2rem;
    }
    
    footer ul {
        gap: 20px;
    }
    
    footer ul a {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        padding: 0 78px;
    }

    header {
        height: 88px;
    }

    header .container h1 {
        font-size: 1.8rem;
    }
    
    header nav ul {
        gap: 40px;
    }

    header li a {
        font-size: 1.4rem;
    }

    .header-social-icons i:first-child {
        font-size: 2rem;
    }

    .hero-section {
        height: 274px;
    }

    .hero-section h2 {
        font-size: 2.8rem;
    }

    .hero-section p {
        font-size: 2.1rem;
    }

    .search-bar {
        margin-top: 70px;
        margin-bottom: 80px;
        padding: 10px 35px;
        font-size: 1.2rem;
    }

    #categories-selection {
        margin-bottom: 80px;
    }

    #featured-deals h2, 
    #game-categories h2,
    #categories-selection h2, 
    #search-results h2 {
        font-size: 1.3rem;
    }

    .select-and-search select {
        padding: 8px 12px;
        font-size: 1.3rem;
    }

    .card {
        padding: 6px;
    }
    
    .card-body {
        margin: 16px;
        height: 100px;
    }
    
    .card-body h3 {
        font-size: 1.15rem;
    }
    
    .price-and-button {
        margin-top: 30px;
    }

    .price-and-button p {
        font-size: 16px;
    }
    
    .add-to-cart-btn {
        font-size: 14px;
        padding: 6px 12px;
    }

    .game-categories-cards {
        height: 328px;
    }

    .category-card h3 {
        font-size: 1.2rem;
    }

    .button-group {
        margin-top: 36px;
    }
    
    .button-group button {
        width: 120px;
        height: 44px;
        font-size: 1.2rem;
        padding: 8px 12px;
    }

    #game-categories {
        margin-top: 80px;
    }

    .detailed-main-content {
        margin-top: 80px;
        margin-bottom: 0;
    }
    
    .detailed-game-brief-info h2 {
        font-size: 2rem;
    }
    
    .detailed-game-brief-info p {
        margin-top: 4px;
        font-size: 1.1rem;
    }
    
    .detailed-game-price {
        right: 78px;
        padding: 22px;
        width: 400px;
    }
    
    .detailed-game-price div {
        font-size: 1.2rem;
        margin-top: 24px;
    }
    
    .detailed-game-price div button {
        padding: 10px 14px;
        font-size: 1.1rem;
    }
    
    .detailed-game-tags {
        margin-bottom: 70px;
    }
    
    .detailed-game-tags p {
        margin-bottom: 6px;
        font-size: 1.1rem;
    }
    
    .detailed-game-description h3 {
        font-size: 1.4rem;
        margin-bottom: 6px;
    }

    .detailed-game-description p {
        font-size: 1.1rem;
    }

    /* Footer */
    footer {
        padding: 42px 0;
        margin-top: 80px;
    }
    
    footer h2 {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }
    
    footer .footer-email {
        font-size: 20px;
    }
    
    .footer-social-icons {
        margin: 40px;
        gap: 26px;
    }

    .footer-social-icons i {
        font-size: 2.4rem;
    }
    
    footer ul {
        gap: 24px;
    }
    
    footer ul a {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 1200px) {
    .hero-section {
        height: 300px;
    }

    #featured-deals h2, 
    #game-categories h2,
    #categories-selection h2, 
    #search-results h2 {
        font-size: 1.5rem;
    }

    .bottom-underline {
        height: 3px;
    }
    
    .card-body {
        margin: 18px;
        height: 130px;
    }

    .card-body h3 {
        font-size: 1.3rem;
    }
    
    .price-and-button {
        margin-top: 40px;
    }

    .price-and-button p {
        font-size: 1.4rem;
    }
    
    .add-to-cart-btn {
        font-size: 18px;
        padding: 8px 14px;
    }

    .game-categories-cards {
        height: 410px;
    }

    .category-card .card-content {
        padding: 16px;
    }

    .category-card h3 {
        font-size: 1.3rem;
    }

    .button-group {
        margin-top: 36px;
    }
    
    .button-group button {
        width: 120px;
        height: 44px;
        font-size: 1.2rem;
        padding: 8px 12px;
    }
    
    .detailed-game-price {
        width: 440px;
    }
    
    .detailed-game-price div {
        margin-top: 32px;
    }
    
    .detailed-game-price div button {
        padding: 10px 16px;
    }
    
    .detailed-game-tags {
        margin-bottom: 80px;
    }
    
    .detailed-game-tags p {
        margin-bottom: 8px;
    }
} 

@media only screen and (min-width: 1420px) {
    .hero-section {
        height: 400px;
    }

    #categories-selection {
        margin-bottom: 95px;
    }

    .select-and-search select {
        padding: 10px 16px;
        font-size: 1.4rem;
    }

    .card {
        padding: 8px;
    }

    .game-categories-cards {
        height: 500px;
    }

    .category-card .card-content {
        padding: 20px;
    }

    .category-card h3 {
        font-size: 1.5rem;
    }

    .detailed-main-content {
        margin-top: 100px;
        margin-bottom: 20px;
    }

    .detailed-game-brief-info h2 {
        font-size: 2.1rem;
    }

    .detailed-game-brief-info p {
        margin-top: 6px;
        font-size: 1.3rem;
    }

    .detailed-game-price {
        width: 540px;
    }

    .detailed-game-price h3 {
        font-size: 1.5rem;
    }
    
    .detailed-game-price div {
        margin-top: 40px;
    }
    
    .detailed-game-price div p {
        font-size: 1.6rem;
    }

    .detailed-game-price div button {
        padding: 14px 20px;
        font-size: 1.2rem;
    }
    
    .detailed-game-tags {
        margin-bottom: 90px;
    }
    
    .detailed-game-tags p {
        margin-bottom: 10px;
        font-size: 1.3rem;
    }

    .detailed-game-tags button {
        padding: 6px 14px;
        font-size: 1.2rem;
    }

    .detailed-game-description h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .detailed-game-description p {
        font-size: 1.3rem;
    }
} 