/* Global styles */
:root {
    --main-background-color: #292F36;
    --second-background-color: #16C172;
    --main-text-color: #292F36;
    --second-text-color: #F7FFF7;
    --third-text-color: #00A6FB;
}

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.container {
    padding: 0 8px;
}

img {
    width: 100px;
}

/* Header */
header {
    background-color: var(--main-background-color);
    color: var(--second-text-color);
    width: 100%;
    height: 50px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
}

header .container nav {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: var(--main-background-color);
    display: none;
}

header .container h1 {
    font-size: 1.2rem;
}

.header-social-icons i {
    font-size: 22px;
}

.header-social-icons i:first-child {
    margin-right: 16px;
}

nav ul li {
    padding: 16px 0;
}

ul li a {
    color: var(--second-text-color);
}

/* Hero section */
#hero-section {
    background-image: url("./images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--second-text-color);
    position: relative;
}

#hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(74, 74, 74, 78%);
}

#hero-section h2, #hero-section p {
    z-index: 1;
}

#hero-section h2 {
    margin-bottom: 6px;
}

.search-bar {
    border-radius: 20px;
    border: 1px solid black;
    width: 100%;
    padding: 8px 14px;
    margin-top: 28px;
    margin-bottom: 34px;
    outline: none;
}

/* Featured deals */
#featured-deals h2 {
    color: var(--main-text-color);
    margin-bottom: 3px;
}

#featured-deals h2, #game-categories h2 {
    font-size: 14px;
}

.bottom-underline {
    height: 2px;
    background-color: var(--third-text-color);
    margin-bottom: 12px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 10px;
}

.card {
    width: 182px;
    color: var(--main-text-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
}

.card-header img {
    width: 100%;
    height: auto;
    display: block;
}

.card-body {
    padding: 8px;
    word-wrap: break-word;
}

.card-body h3 {
    font-size: 12px;
}

.price-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.price-and-button p {
    font-size: 10px;
}

.add-to-cart-btn {
    border: none;
    background-color: var(--second-background-color);
    color: #fff;
    font-size: 8px;
    padding: 4px 8px;
}

.button-group {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.button-group button {
    width: 76px;
    height: 24px;
    border: none;
    background-color: var(--second-background-color);
    color: #fff;
    padding: 4px 8px;
}

/* Game categories */
#game-categories {
    margin-top: 34px;
}

.categories-list {
    margin-top: 11px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    gap: 14px;
}

.categories-list li a {
    color: var(--third-text-color);
    font-size: 12px;
}

.categories-list li a.highlight {
    font-weight: bold;
}

/* Games Page */
#filter-categories {
    margin-bottom: 36px;
}

#filter-categories h2 {
    font-size: 14px;
    margin-bottom: 12px;
}

#filter-categories .catogories-group {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 14px;
}

.catogories-group .category {
    display: flex;
    align-items: center;
    gap: 4px;
}

#filter-categories button {
    border: none;
    width: 100%;
    border-radius: 20px;
    padding: 6px 10px;
    color: var(--second-text-color);
    background-color: var(--second-background-color);
    font-size: 1.1rem;
}

/* Search Results */
#search-results h2 {
    font-size: 14px;
}

/* Footer */
footer {
    margin-top: 34px;
    text-align: center;
    background-color: var(--main-background-color);
    color: var(--second-text-color);
    padding: 24px 0;
}

footer h2 {
    font-size: 14px;
    margin-bottom: 3px;
}

footer .footer-email {
    font-size: 12px;
}

.footer-social-icons {
    margin: 16px 0;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.footer-social-icons i {
    font-size: 1.4rem;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 16px;
}

footer ul a {
    color: var(--second-text-color);
}

/* Media queries */
@media only screen and (min-width: 768px) {
    .container {
        padding: 0 22px;
    }

    header {
        height: 70px;
    }

    header .container h1 {
        font-size: 1.5rem;
    }

    header .container nav {
        display: block;
        position: static;
        width: 50%;
    }
    
    header nav ul {
        display: flex;
        gap: 32px;
    }

    header li a {
        font-size: 1.3rem;
    }

    .header-social-icons i:first-child {
        margin-right: 0;
        font-size: 1.7rem;
    }

    .header-social-icons i.fa-bars {
        display: none;
    }

    #hero-section {
        height: 160px;
    }

    #hero-section h2 {
        font-size: 1.8rem;
    }

    #hero-section p {
        font-size: 1.3rem;
    }

    .search-bar {
        margin-top: 34px;
        margin-bottom: 45px;
        padding: 8px 28px;
        font-size: 1.1rem;
    }

    #featured-deals h2, #game-categories h2 {
        font-size: 1.1rem;
    }

    .bottom-underline {
        margin-bottom: 18px;
    }
    
    .card {
        flex-grow: 1;
        width: 166px;
    }
    
    .card-body {
        padding: 12px;
        word-wrap: break-word;
    }
    
    .card-body h3 {
        font-size: 14px;
    }
    
    .price-and-button {
        margin-top: 22px;
    }

    .price-and-button p {
        font-size: 12px;
    }
    
    .add-to-cart-btn {
        font-size: 10px;
        padding: 6px 10px;
    }
    
    .button-group {
        margin-top: 22px;
    }
    
    .button-group button {
        width: 80px;
        height: 30px;
    }

    #game-categories {
        margin-top: 45px;
    }
    
    .categories-list li a {
        font-size: 14px;
    }

    /* Footer */
    footer {
        padding: 32px 0;
        margin-top: 45px;
    }
    
    footer h2 {
        font-size: 20px;
        margin-bottom: 6px;
    }
    
    footer .footer-email {
        font-size: 14px;
    }
    
    .footer-social-icons {
        margin: 30px;
        gap: 20px;
    }

    .footer-social-icons i {
        font-size: 2rem;
    }
    
    footer ul {
        gap: 20px;
    }
    
    footer ul a {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        padding: 0 78px;
    }

    header {
        height: 88px;
    }

    header .container h1 {
        font-size: 1.8rem;
    }
    
    header nav ul {
        gap: 40px;
    }

    header li a {
        font-size: 1.4rem;
    }

    .header-social-icons i:first-child {
        font-size: 2rem;
    }

    #hero-section {
        height: 274px;
    }

    #hero-section h2 {
        font-size: 2.8rem;
    }

    #hero-section p {
        font-size: 2.1rem;
    }

    .search-bar {
        margin-top: 70px;
        margin-bottom: 80px;
        padding: 10px 35px;
        font-size: 1.2rem;
    }

    #featured-deals h2, #game-categories h2 {
        font-size: 1.3rem;
    }
    
    .card {
        flex-grow: 1;
        width: 196px;
    }
    
    .card-body h3 {
        font-size: 1.15rem;
    }
    
    .price-and-button {
        margin-top: 30px;
    }

    .price-and-button p {
        font-size: 16px;
    }
    
    .add-to-cart-btn {
        font-size: 14px;
        padding: 6px 12px;
    }
    
    .button-group {
        margin-top: 36px;
    }
    
    .button-group button {
        width: 120px;
        height: 44px;
        font-size: 1.2rem;
        padding: 8px 12px;
    }

    #game-categories {
        margin-top: 80px;
    }
    
    .categories-list li a {
        font-size: 18px;
    }

    /* Footer */
    footer {
        padding: 42px 0;
        margin-top: 80px;
    }
    
    footer h2 {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }
    
    footer .footer-email {
        font-size: 20px;
    }
    
    .footer-social-icons {
        margin: 40px;
        gap: 26px;
    }

    .footer-social-icons i {
        font-size: 2.4rem;
    }
    
    footer ul {
        gap: 24px;
    }
    
    footer ul a {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 1200px) {
    #featured-deals h2, #game-categories h2 {
        font-size: 1.5rem;
    }

    .bottom-underline {
        height: 3px;
    }

    .categories-list {
        margin-top: 14px;
        gap: 20px;
    }

    .categories-list li a {
        font-size: 20px;
    }

    .cards {
        gap: 12px;
    }

    .card {
        flex-grow: 1;
        width: 240px;
    }
    
    .card-body {
        padding: 16px;
    }

    .card-body h3 {
        font-size: 1.3rem;
    }
    
    .price-and-button {
        margin-top: 40px;
    }

    .price-and-button p {
        font-size: 1.4rem;
    }
    
    .add-to-cart-btn {
        font-size: 18px;
        padding: 8px 14px;
    }
    
    .button-group {
        margin-top: 36px;
    }
    
    .button-group button {
        width: 120px;
        height: 44px;
        font-size: 1.2rem;
        padding: 8px 12px;
    }
} 